<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>TrainERAI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />


	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Animate.css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/animate.css') }}"
    />
    <!-- Icomoon Icon Fonts-->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/icomoon.css') }}"
    />
    <!-- Bootstrap  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/bootstrap.css') }}"
    />
    <!-- Superfish -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/superfish.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />
    <script src="{{ url_for('static',filename='js/modernizr-2.6.2.min.js') }}"></script>
  </head>
  <body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">
          <div id="fh5co-header">
            <header id="fh5co-header-section">
              <div class="container">
                <div class="nav-header">
                  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"
                    ><i></i
                  ></a>
                  <h1 id="fh5co-logo">
                    <a href="/"><span>Train</span>ERAI</a>
                  </h1>
                </div>
            </header>
        </div>

        <div class="fh5co-hero">
            <div class="fh5co-overlay"></div>
            <div
              class="fh5co-cover"
              data-stellar-background-ratio="0.5"
              style="background-image: url({{url_for('static', filename='images/round1.png')}})"
            >
              <div class="desc animate-box">
                <div class="container">
                  <div class="row">
                    <div class="col-md-7">
                      <h2>Fitness &amp; Health <br />is a <b>Mentality</b></h2>
                      <p>
                        <span
                          >AI fitness trainer allows more people to get involved
                          in the fitness field using this AI trainer makes sure
                          everyone can perform exercises in correct way,
                          minimizing the risk of injuries.
                        </span>
                      </p>
                      <span>
                        <a class="btn btn-primary" href="login.html">Sign In</a>
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
                <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

                <!-- jQuery Easing -->
                <script src="{{ url_for('static',filename='js/jquery.easing.1.3.js') }}"></script>
                <!-- Bootstrap -->
                <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
                <!-- Waypoints -->
                <script src="{{ url_for('static',filename='js/jquery.waypoints.min.js') }}"></script>
                <!-- Stellar -->
                <script src="{{ url_for('static',filename='js/jquery.stellar.min.js') }}"></script>
                <!-- Superfish -->
                <script src="{{ url_for('static',filename='js/hoverIntent.js') }}"></script>
                <script src="{{ url_for('static',filename='js/superfish.js') }}"></script>
            
                <!-- Main JS (Do not remove) -->
                <script src="{{ url_for('static',filename='js/main.js') }}"></script>            
    </body>
</html>