<head>
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="\static\css\workout_planner.css" />
  </head>
  <body>
    <div class="title"><h1>Workout Planner</h1></div>
    <div class="container">
        <div class="planner">
            <div class="workout">
                <H1>Workout</H1>
            </div>
            <div class="exercises">
                <div>
                    <div class="workout-title">Push Workout</div>
                    <div class="workout-title">12 mins</div>
                    <div class="workout-title">72 Calories</div>
                </div>
                <div>
                    <div class="workout-title">Pull Workout</div>
                    <div class="workout-title">15 mins</div>
                    <div class="workout-title">200 Calories</div>
                </div>
                <div>
                    <div class="workout-title">Leg Workout</div>
                    <div class="workout-title">1 hour</div>
                    <div class="workout-title">122 Calories</div>
                </div>

                <div>
                    <div class="workout-title">Cardio</div>
                    <div class="workout-title">30 mins</div>
                    <div class="workout-title">295 Calories</div>
                </div>


                <div class="workout-buttons">
                    <div class="Save">
                    <a href="/index.html">Go To Workout</a>
                        
                    </div>
                </div>
            </div>
        </div>
      
    </div>
  </body>
  
  <script src="\static\js\workout_planner.js"></script>
  