<head>
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="\static\css\workout_planner.css" />
  </head>
  <body>
    <div class="title"><h1>Workout Planner</h1></div>
    <div class="container">
        <div class="planner">
            <div class="workout">
                <H1>Workout</H1>
            </div>
            <div class="exercises">
                <div>
                    <div class="workout-title">Workout 1</div>
                    <div>
                        <select name="set1" id="set1" class="inputControl">
                        <option value="" selected disabled hidden>Choose exercise</option>
                        <option value="Bench Press">Bench Press</option>
                        <option value="Deadlift">Deadlift</option>
                        <option value="Squat">Squat</option>
                        <option value="Back Rows">Back Rows</option>
                        <option value="Overhead Press">Overhead Press</option>
                    </select></div>
                    <div><input id="rep1" type="number" step="0.5" min="0" max="999" placeholder="kg" class="numberControl" value=""></div>
                </div>
                <div>
                    <div class="workout-title">Workout 2</div>
                    <div>
                        <select name="set2" id="set2" class="inputControl">
                        <option value="" selected disabled hidden>Choose exercise</option>
                        <option value="Bench Press">Bench Press</option>
                        <option value="Deadlift">Deadlift</option>
                        <option value="Squat">Squat</option>
                        <option value="Back Rows">Back Rows</option>
                        <option value="Overhead Press">Overhead Press</option>
                        </select>
                    </div>
                    <div><input id="rep2" type="number" step="0.5" min="0" max="999" placeholder="kg" class="numberControl" value=""></div>
                </div>
                <div>
                    <div class="workout-title">Workout 3</div>
                    <div>
                        <select name="set3" id="set3" class="inputControl">
                        <option value="" selected disabled hidden>Choose exercise</option>
                        <option value="Bench Press">Bench Press</option>
                        <option value="Deadlift">Deadlift</option>
                        <option value="Squat">Squat</option>
                        <option value="Back Rows">Back Rows</option>
                        <option value="Overhead Press">Overhead Press</option>
                        </select>
                    </div>
                    <div><input id="rep3" type="number" step="0.5" min="0" max="999" placeholder="kg" class="numberControl" value=""></div>
                </div>

                <div>
                    <div class="workout-title">Workout 3</div>
                    <div>
                        <select name="set3" id="set3" class="inputControl">
                        <option value="" selected disabled hidden>Choose exercise</option>
                        <option value="Bench Press">Bench Press</option>
                        <option value="Deadlift">Deadlift</option>
                        <option value="Squat">Squat</option>
                        <option value="Back Rows">Back Rows</option>
                        <option value="Overhead Press">Overhead Press</option>
                        </select>
                    </div>
                    <div><input id="rep3" type="number" step="0.5" min="0" max="999" placeholder="kg" class="numberControl" value=""></div>
                </div>


                <div class="workout-buttons">
                    <div class="Save">Go To Workout</div>
                </div>
            </div>
        </div>
      
    </div>
  </body>
  
  <script src="\static\js\workout_planner.js"></script>
  